.btn{
  display: block;
  margin: auto;
}
.listedPlanned:hover, .listedRecord:hover{
  background: red;
}
.listedPlanned, .listedRecord{
  cursor: pointer;
}
.selectContainer{
  margin: auto;
}

.formBackground{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: gray;
  opacity: .8;
  z-index: 1; 
}
label{
  margin: auto;
}
.productive{
  font-size: 15px;
}
.closer{
  float: right;
  top: 0;
  right: 0;
  padding: 0;
  font-size: 15px;
}

legend{
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  }
  form{
    padding: 10px;
    z-index: 1;
    text-align: center;
    height: max-content;
    width: 35%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: red;
  }
.hidden{
  display: none;
}
.subtract{
  background: orange;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.totalRow{
  background: green;
}
.hidden{
visibility: hidden;
}

input{
  font-size: 20px;
  margin: auto;
  display: block;
}

table{
  background: lightgrey;
  border: 1px solid black;
  padding: 5px;
  margin: auto;
}
.total{
  border: 3px solid black;
  background: greenyellow;
  text-align: center;
  font-weight: bold;
  }

th{
 text-decoration: underline;
  padding: 3px;
}
.res{
  padding: 3px;
}

.red{
  background-color: red;
}

header{
  font-size: 35px;
}


h4{
  text-align: center;
}

.topNavRow{
  font-size: 0;
}
header, .topNavButtons, .topNavDateTime{
  text-align: center;
  width: 33%;
  display: inline-block;

}
.display{
  text-align: center;
  border: 1px solid black;
  display: inline-block;
}
.recorded{
  background: red;
}
.planned{
  background: blue;
}
.totals{
  background: orange;
}