
.totalRow{
  border: 2px solid black; 
}

table{
  border: 1px solid black;
  padding: 5px;
  margin: auto;
}
.totals{
  text-align: center;
  }

th{
 text-decoration: underline;
  padding: 3px;
}
.res{
  padding: 3px;
}

.red{
  background-color: red;
}

header{
  font-size: 35px;
}


h4{
  text-align: center;
}

.topNavRow{
  font-size: 0;
}
header, .topNavButtons, .topNavDateTime{
  text-align: center;
  width: 33%;
  display: inline-block;

}
.display{
  text-align: center;
  border: 1px solid black;
  display: inline-block;
}
.recorded{
  background: red;
}
.planned{
  background: blue;
}
.totals{
  background: orange;